<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('ZIP')" data-ng-class="{active: currency.symbol == 'ZIP'}">ZIP</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mZIP')" data-ng-class="{active: currency.symbol == 'mZIP'}">mZIP</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uZIP')" data-ng-class="{active: currency.symbol == 'uZIP'}">uZIP</a>
  </li>
</ul>

